<?xml version="1.0"?>
<launch>
  <arg name="mjpg_host" default="192.168.2.181" />
  <include file="$(find dankong)/launch/dankong.launch">
    <arg name="robot_type" value="drone" />
    <arg name="mjpg_host" value="$(arg mjpg_host)" />
    <arg name="mjpg_port" value="8090" />
    <arg name="image_topic" value="/UAV0/sensor/video11_camera/image_raw" />
    <arg name="config" value="$(find dankong)/config/dji-real-config.yaml" />
  </include>
</launch>
